  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  pre{
  display: inline;
  }

#botao2{
display: inline;
background-color: blue;
color: yellow;
margin-left: 50 px;
}

scan #bt2{
margin-left: 30px;
}

.checkbox{
  background-color: blue;
  color: yellow;
}

   body {
    background-color: lightslategrey;
    color: yellow;
  }

  #mtab {
  background-color: lightslategrey !important;
  color: yellow !important;
  }
  
  /* essa classe, .tab1, vem de <tab> do arquivo dt_final.py */
  .tab1{
    width : 50%;
    font-weight: 800 !important;
    font-size: 0.8rem !important;
    background-color: lightslategrey !important;
    color: yellow !important;
    border-color: indigo !important;
    margin: auto;
    margin-top:8rem;
    & tbody{
      background-color: gray;
    }
    & thead{
      background-color: teal;  
    }
    & td,th {
    text-align: center !important;
    }
  }

    #p1,#p2{
      display: none;
    }

    #dtpic {
      padding: 0;
      margin: 0;
    }

    /* Diminui o tamanho do calendário */
    table {
      background-color: darkblue;
      color: yellow;
      width: 50%;
      font-size: 0.5rem;
      font-weight: 900;
      padding-right: 0.2rem 0.2rem ; 
      /* padding-left: .5 rem !important; */ 
      }

     .table-condensed{ 
     width: 100%;
    
     & .old,
      .new{
        visibility: hidden;
      }

    & .today{
      /* text-align: center; */
      border-radius: 50%;
      background-color: rgb(2, 144, 192) ;
      /* font-size: 1.1rem; */
    }

    & .day{
      text-align: center;
    }
  
    & .day:hover{
      /* text-align: center; */
      border-radius: 50%;
      background-color: rgb(2, 144, 192) ;
      /* font-size: 1rem; */
    }

    } 
    #botao{
      display: flex;
      padding: 0;
      margin: 0;
      align-self: center;
      padding-top: -1 rem;
    color: white;
    }
    .grid{
      width: 25rem;
      display: grid;
      grid-auto-flow: column;
    
      & .sec1{
        margin: 0;
        padding: auto;
        width: 21rem;
        /* height: 10rem; */
        border: 3px solid blueviolet;
      }
  
      & .sec2{
        padding-top: 0px;
        padding-left: 0px;
        /* padding-left: 19rem; */
        width: 8rem;
        height: 3rem;
        border: 3px solid rgb(86, 7, 160);
      }
    
    }    /* fecha grid */
      
    
   