  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* html{
    font-size: 62.5%;
  } */

  body {
    background-color: lightslategrey;
    color: yellow;
  }

    /* Diminui o tamanho do calendário */
    .modal-body {
      padding: 0;
      margin: 0;
    }

    /* Diminui o tamanho do calendário */
    .datepicker-modal table {
      background-color: darkblue;
      color: yellow;
      font-size: 0.9rem;
      font-weight: 900;
      padding-right: 0.4rem !important;
      /* padding: 10px !important; */
    }
    /* Diminui o tamanho do modal */
    .modal-dialog-small {
      padding: 0;
      margin: 0;
      max-width: 20%;
    }
    
    .table-condensed{ 
     width: 100%;
    
     & .old,
      .new{
        visibility: hidden;
      }

    & .today{
      text-align: center;
      border-radius: 50%;
      background-color: rgb(2, 144, 192) ;
      font-size: 1.1rem;
    }

    & .day:hover{
      text-align: center;
      border-radius: 50%;
      background-color: rgb(2, 144, 192) ;
      font-size: 1.2rem;
    }

    }
    .grid{
      display: grid;
      grid-auto-flow: column;
      
      & section {
        width: 100rem;
        height: 10rem;
      }
      
      & .sec1{
        padding-top: 1rem;
        width: 60rem;
        height: 10rem;
      }
  
      & .sec2{
        padding-top: 1.2rem;
        padding-left: 19rem;
        width: 90rem;
        height: 50rem;
      }
    }
  