{% extends "base.html" %}

{% block title %}
Cotação
{% endblock title %}

{% block local_stl %}
<!-- Importa o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<!-- Importa o style local. Arquivo css -->
<link rel="stylesheet" href="{{ url_for('hoje.static', filename='css/style.css')}}">
{% endblock local_stl %}

{% block header %}

<h4>
  Consultar cotação de moedas no dia de hoje.
</h4>

{% endblock header %}



{% block corpo %}


<div class="container">

  <!-- <div id="divMoedas"> -->
  <div id="div1" class="div">
    <span id="spanMoedas">
      <h6> Escolha uma ou mais moedas abaixo.</h6>
      <h6>Clique para marcar ou dismarcar.</h6>
    </span>

    <span id="span1">
      <input type="checkbox" name="USD-BRL" checked id="Dolar" class="form-check-input checkbox">
      <label id="lb1-1" for="Dolar">Dolar</label>
      <!-- <pre>   </pre> -->
      <input type="checkbox" name="EUR-BRL" id="Euro" class="form-check-input checkbox">
      <label id="lb1-2" for="Euro">Euro</label>
    </span>
    <span id="span2">
      <input type="checkbox" name="GBP-BRL" id="Libra" class="form-check-input checkbox">
      <label id="lb2-1" for="Libra"> Libra </label>
      <!-- <pre>   </pre> -->
      <input type="checkbox" name="ILS-BRL" id="Shekel" class="form-check-input checkbox">
      <label id="lb2-2" for="Shekel"> Shekel </label>
    </span>
    <span id="bt2">
      <button id="botao2" class="btn btn-secondary" type="button">
        ENTER
      </button>
    </span>
  </div>

  <!-- </div> divMoedas -->
</div> <!-- Container -->

{% endblock corpo %}

{% block footer %}
<script>
  $(document).ready(function () {
    console.log('Aqui')
    // $(document).ready(function () {
    $('#botao2').on('click', function () {
      console.log('Aqui Click')
      let btMoedas = []

      btMoedas = [
        $('#Dolar').is(':checked'),
        $('#Euro').is(':checked'),
        $('#Libra').is(':checked'),
        $('#Shekel').is(':checked')
      ]

      console.log('Btmoedas', btMoedas);

      function monta_escolhas() {
        result = {}

        let tmp = $('.checkbox');

        console.log('Temp = ', tmp);
        const range = [0, 1, 2, 3]
        // moedas_escolhidas = {}
        console.log('btMoedas = ', btMoedas);
        for (i in range) {
          if (btMoedas[i]) {
            // moedas_escolhidas[`${tmp[i].id}`] = `${tmp[i].name}`
            result[`${tmp[i].id}`] = `${tmp[i].name}`
          }
        } //end for

        console.log('Monta Escolhas = ', result);
        return result;
      } // End monta_escolhas
      const moedas_escolhidas = monta_escolhas()
      const dd = JSON.stringify({ 'moedas': moedas_escolhidas })
      console.log('DADO ', dd);

      $.ajax({
        url: '/hoje',
        type: 'POST',
        data: dd,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: (result, status, request) => {
          $('h4').hide()
          $('container').hide();
          tmpdiv = '<div class="tab" id="tab1"></div>';
          $('main').html(tmpdiv);
          $('.tab').html(result);
          console.log('Sucess', result);
        }
      }) // end Ajax
    }) //End Click
  }) //End Documment ready
</script>

{% endblock footer %}
<!-- </div>  Final Conteudo -->