{% extends "base.html" %}

{% block title %}
Início
{% endblock title %}

{% block local_stl %}

<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css')}}">

{% endblock local_stl %}

{% block header %}


{% endblock header %}

{% block corpo %}

<div id="div">
  <div id="div1">
    <h3>
      Este site destina-se a informar cotações de moedas.
    </h3>
  </div>

  <div id="div2">
    <hh4>
      Para tanto, escolha um item no menu de barra acima.
    </hh4>
  </div>
</div>
{% endblock corpo %}

{% block footer %}

{% endblock footer %}